.node-setting-tab {
  .ant-tabs-nav {
    height: 40px;
    color: #7a7a7a;
    background-color: #0f0f0f;

    .ant-tabs-tab {
      margin: 0;
      padding: 10px 28px;
      &-active {
        background-color: #1a1a1a;
      }
      &-disabled {
        color: #7a7a7a;
      }
      .anticon {
        margin-right: 0;
      }
    }
    &::before {
      border: none;
    }
  }
}
