.node-setting-tab {
  .ant-tabs-nav {
    height: 40px;
    background-color: #0f0f0f;

    .ant-tabs-tab {
      margin: 0;
      padding: 10px 31px;

      &-active {
        background-color: var(--panel-bg);
      }
      &-disabled {
        color: #7a7a7a;
      }
      .anticon {
        margin-right: 0;
      }
    }

    &::before {
      border: none;
    }
  }
}

.node-setting-tab-lg {
  .ant-tabs-nav {
    .ant-tabs-tab {
      padding: 10px 42px;
    }
  }
}

// 侧面滑出动画
.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(100%);
  transition: transform 300ms;
}
