.right-panel-tabs {
  border-bottom: 1px solid #333;
}

.canvas-color-picker {
  .ant-color-picker-trigger-text {
    color: #adadad;
  }
  .ant-color-picker-color-block {
    width: 16px;
    height: 16px;
  }
}

// 侧面滑出动画
.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(100%);
  transition: transform 300ms;
}
