.right-panel {
  z-index: 99;
  height: calc(100vh - 60px);
  padding-left: 1px;
  border-left: 1px solid #000;
  box-shadow: inset 1px 0 0 0 rgba(61, 61, 61, 0.6);

  &-tabs {
    border-bottom: 1px solid #333;
  }
}

.canvas-input {
  background-color: #333;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;

  &:hover {
    background-color: #434343;
    border-color: transparent;
  }

  .ant-input-number-group-addon {
    padding: 0 3px;
    color: #7a7a7a;
    font-size: 12px;
    border: none;
  }

  .ant-input-number-input {
    color: #dbdbdb;
  }

  .ant-input-number-handler {
    border: none;

    .ant-input-number-handler-down-inner,
    .ant-input-number-handler-up-inner {
      color: #7a7a7a;
    }

    &:hover {
      .ant-input-number-handler-down-inner,
      .ant-input-number-handler-up-inner {
        color: #fff;
      }
    }

    &-wrap {
      background: #434343;
    }
  }
}

.canvas-color-picker {
  .ant-color-picker-trigger-text {
    color: #adadad;
  }
}

// 侧面滑出动画
.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(100%);
  transition: transform 300ms;
}
