.quick-style-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 16px;
  background-color: #333;
  border-radius: 3px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%);

  &:hover {
    background-color: #1f6aff;
  }
}
