html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  overscroll-behavior: none;
}

canvas {
  display: block;
}

ul,
ol {
  list-style: none;
}

// lua editor
.cm-completionIcon-function,
.cm-completionIcon-keyword,
.cm-completionIcon-snippet,
.cm-completionIcon-variable {
  display: none !important;
}

.cm-completionDetail {
  display: none !important;
}

.cm-editor.cm-focused {
  outline: none;
}

.customize-autocomplete-tooltip {
  width: 50%;
  ul {
    li {
      position: relative;
      .autocomplete-icon {
        width: 12px;
        margin-right: 5px;
      }
      .autocomplete-detail {
        position: absolute;
        top: 50%;
        right: 5px;
        color: #969697;
        font-size: 10px;
        transform: translateY(-50%);
      }
    }
  }
}

.active-group {
  background-color: #f0f0f0;
}

// .data-center-scrollbar {
//   &::-webkit-scrollbar {
//     width: 4px;
//   }

//   &::-webkit-scrollbar-thumb {
//     background: #44475a;
//     border-radius: 50px;
//   }

//   &::-webkit-scrollbar-track {
//     background: transparent;
//   }
// }

.editor-card {
  .ant-pro-card-title {
    font-weight: 400;
    font-size: 14px;
  }
}

.dashboard-card {
  position: relative;
  .ant-pro-card-body {
    .ant-pro-card-col {
      display: flex;
      align-items: center;
    }
  }
}

.none-header-border {
  .ant-modal-header {
    padding: 16px 24px 0 24px;
    border-bottom: none;
  }
}

.readonly-editor-wrapper {
  .cm-activeLine,
  .cm-activeLineGutter {
    background-color: transparent;
  }
}

.custom-rule-wrapper {
  .ant-pro-table-list-toolbar-container {
    padding-block: 0;
  }
  .ant-pro-card-body {
    padding-inline: 0;
  }
}

// 点位表
.sheet-table {
  .ant-table-tbody {
    .ant-table-row:nth-child(even) {
      background: #fafafa;
    }
    .ant-form-item-margin-offset {
      margin-bottom: 0 !important;
    }
  }
}

// 设备
.device-form {
  .@{ant-prefix}-pro-form-group-title {
    font-weight: 400;
    margin-block-end: 24px;
  }
}

// modal btn
.ant-btn:not(:disabled):focus-visible {
  outline: none;
}

// login form
.rhilex-login-form-wrapper {
  background: rgba(255, 255, 255, 0.25);
  border: 0.5px solid #e7e9e8;
  border-radius: 2px;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.13), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 12px 24px 16px rgba(0, 0, 0, 0.04);
}

.json-code {
  width: min-content;
  padding: 16px;
  overflow: auto;
  color: rgba(42, 46, 54, 0.65);
  font-size: 85%;
  line-height: 1.45;
  background-color: rgba(150, 150, 150, 0.1);
  border-radius: 3px;
}
