//modal
.ant-modal .ant-modal-footer {
  border-top: none;
}

// login footer
.ant-pro-global-footer-copyright {
  color: rgba(0, 0, 0, 0.45);
}

// pageContainer
.ant-page-header-content {
  padding-block-start: 0;
}

.ant-pro-page-container-children-container {
  padding-block-start: 0;
}

.ant-pro-form-login-header {
  height: 50px;
  line-height: 50px;
}

// right-content
.notification-popver .ant-popover-inner-content {
  padding: 0 16px;
}

.notification-list {
  min-width: 250px;
  .ant-pro-card .ant-pro-card-body {
    padding: 0;

    .ant-pro-table-list-toolbar-left {
      max-width: 100%;
    }
  }
}

.notice-badge {
  .ant-badge-count {
    box-shadow: none;
  }
}

// header logo
.ant-pro-global-header-logo {
  width: 120px;
  a {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
