.ant-slider .ant-slider-handle::after {
  background: #dbdbdb;
  border-radius: 2px;
  box-shadow: none;
}

.ant-slider .ant-slider-handle:active::after {
  box-shadow: none;
}

.ant-slider .ant-slider-handle:hover::after {
  box-shadow: none;
}
