#canvas-container {
  background-color: #262626;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.editor-content {
  background: #1f1f1f
    url(./images/grid.png)
    repeat !important;
  overflow: hidden;
}

// 管道动画
@keyframes reverse-line {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}

@keyframes forward-line {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

// 虚线动画
@keyframes dotted-line {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
